.site-footer {
    border-bottom: 10px solid #80d0c7;
    position: relative;
}

.navbar-brand,
.navbar-brand:hover {
  font-size: 32px;
  font-weight: 700;
  display: block;
}

.navbar-brand span {
  font-family: 'Montserrat', sans-serif;
  margin-left: 10px;
}

.site-footer::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 200px 200px;
    border-color: transparent transparent #80d0c7 transparent;
    pointer-events: none;
}

.site-footer-title {
    color: #13547a;
}

.site-footer .dropdown-menu {
    padding: 0;
}

.site-footer .dropdown-item {
    color: #717275;;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 18px;
}

.site-footer .dropdown-item:hover {
    background-color: transparent;
    color: #13547a;
}

.site-footer .dropdown-menu li:first-child .dropdown-item {
    padding-top: 10px;
}

.site-footer .dropdown-menu li:last-child .dropdown-item {
    padding-bottom: 12px;
}

.site-footer .dropdown-toggle {
    background-color: #80d0c7;
    border-color: #ffffff;
}

.site-footer .dropdown-toggle:hover {
    background-color: #13547a;
    border-color: transparent;
}

.site-footer-links {
    padding-left: 0;
}

.site-footer-link-item {
    display: block;
    list-style: none;
    line-height: normal;
}

.site-footer-link {
    color: #80d0c7;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

.copyright-text {
    font-size: 16px;
}